header{
    /* margin-top: 1rem; */
    height: 90px;
    width: 99.5%;
    /* box-shadow: 0px 0px 4px 0px  var(--color-brand--2); */
    align-items: center;
    border:none ;
    border-bottom: 1px solid rgb(63, 62, 62);
}
nav{
    position: relative;
    width: 98%;
    margin: 0rem 3rem;
    display: flex;
    justify-content: space-between;
    gap: 20rem;
    align-items: center;
}
.imgg{
        position: relative;
        margin-left: 2rem;
        overflow: hidden;
        /* padding-bottom: 2rem; */
}
img{
    width: 10rem;
    height: 10rem;
    max-width: 100%;
    /* margin-bottom: 1rem; */
}
.headingg {
    display: flex;
        color: white;
    margin-right: 7rem;
    display: flex;
    align-items: center;
    
    
}
.headingg :nth-child(2){
    
    color: var(--color-brand--2);
}
.imgg,
.imgg img {
  box-sizing: border-box;
  /* Other styles */
}
h1{

    font-size: 24px;
}
.logout button{
    font-family: inherit;
    font-weight: 600;
    display: flex;
    align-items:center;
    gap: 0.7rem;
    margin-top: 0rem;
    /* margin-bottom: 2rem; */
    padding:0.6rem 2rem;
    color: var(--color-brand--2);
    background-color: var(--color-dark--2);
    text-align: center;
    border:1px solid var(--color-dark--2);
    border-radius: 2rem;
    transition: 0.32s ease;
}
 .logout button:hover{
    transition: 0.32s ease;
    background-color: var(--color-brand--2);
    color: black;
}
@media screen and (max-width:1366px){

    header{
        height:70px;
    }
    img{
        width: 7rem;
        height:7rem;
    }
}